@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Noto Serif', serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
} 

header h1 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

footer {
  padding: 2px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  gap: 100px;
  text-transform: uppercase;
}

footer p {
  font-size: 10px;
}

.game-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
}
.game {
  width: 800px;
  height: 600px;
  background: url(../img/background-blue.png);
  animation: scroll-background 5s linear infinite;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

.game .enemy {
  position: absolute;
  margin-left: -20px;
  margin-top: -18px;
  width: 40px;
}

.game .player {
  position: absolute;
  margin-left: -20px;
  width: 40px;
}

.game .laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.game .enemy-laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.congratulations {
  display: none;
  position: absolute;
  background: darkgreen;
  box-shadow: 0px 0px 20px green;
  color: white;
  padding: 20px 50px;
  border-radius: 15px;
  text-align: center;
  animation: pop-in 1s;
}

.congratulations h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 35px;
}

.congratulations p {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 20px;
}

.game-over {
  display: none;
  position: absolute;
  background: darkred;
  box-shadow: 0px 0px 20px red;
  color: white;
  padding: 20px 50px;
  border-radius: 15px;
  text-align: center;
  animation: pop-in 1s;
}

.game-over h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 35px;
}

.game-over p {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 20px;
}

.btn {
  border: none;
  border-radius: 12px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
  background: linear-gradient(
    to bottom,
    #fff 0%,
    #fff 49%,
    #f5f5f5 50%,
    #eee 100%
  );
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.btn:active {
  box-shadow: none;
  transform: translate(0, 0.1rem);
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* STATS */

.stats {
  position: fixed;
  font-family: 'Press Start 2P', cursive;
  right: 50px;
  top: 100px;
  color: white;
  background: #161616;
  padding: 0 20px;
  border-radius: 2px;
  box-shadow: 11px 14px 0px 0px #121212;
}

.stats ul {
  list-style: none;
}

.stats ul:first-child {
  padding: 0;
}

.stats ul li {
  display: flex;
  gap: 5px;
}

.stats ul p {
  margin-top: .4em;
}